:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgba(0, 0, 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    min-height: 4000px;
}

.alert-light {
    color: var(--pink);
    font-weight: bold; 
    padding: 1.5rem; 
    font-size: 1.2rem; 
    border-radius: 8px; 

}

.hero {
    position: relative;
    min-height: 100vh;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-position: center;
    background-image: url(img/baground_2.jpg);
    z-index: -1;
    filter: brightness(0.6) contrast(1.5) blur(4px);
}

.hero h1 {
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 6rem;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.5rem;
}

.hero a {
    color: var(--pink);
    background-color: white;
}

.hero a:hover {
    background-color: var(--pink);
    color: white;
}

.btn, .btn-lg {
    font-family: 'Playfair Display', 'Times New Roman', serif;
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(2px);

}

.mynavbar .offcanvas {
    height: 100vh;

}

.mynavbar .navbar-brand, .mynavbar .offcanvas-title {
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 3.0rem;
}

.mynavbar .nav-link {
    text-transform: uppercase;
}

.home {
    background-image: url(img/baground_home.jpg);
    background-size: cover;
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 9rem;
    padding-bottom: 5rem;
}

.home .wedding-title {
    color: var(--pink);
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 5rem;
}

.home .wedding-text {
    color: #6b6b6b;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home .wedding-subtext {
    font-size: 1.1rem;
    color: #9b9b9b;
}

.home .couple {
    margin-top: 80px;
}

.home .couple h3 {
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 2.8rem;
    color: var(--pink);
}

.home .couple img {
    width: 100%;
}

.home .heart {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px);
}

.home .heart i {
    margin: auto;
    color: var(--pink);
}

.info {
    background-color: var(--bg);
    color: white;
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.info h2 {
    color: var(--pink);
     font-family: "Monsieur La Doulaise";
     font-size: 5rem;
}




/* Default styles for desktop first */

/* extra large */
@media (max-width: 1200px) {
    .home .heart {
        transform: translateX(-50%) translateY(45px);
    }
}

/* Laptop */
@media (max-width: 992px) {
    html {
        font-size: 85%;
    }
    .home .heart {
       display: none;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 70%;
    }
    .mynavbar .navbar-brand, .mynavbar .offcanvas-title {
        font-size: 2.5rem;
    }
    .mynavbar .nav-link {
        font-size: 2.0rem;
    }
}

/* Mobile Phone */
@media (max-width: 576px) {
    html {
        font-size: 65%;
    }
    .mynavbar .navbar-brand, .mynavbar .offcanvas-title {
        font-size: 2.0rem;
    }
    .mynavbar .nav-link {
        font-size: 1.5rem;
    }
   
}